@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    display: grid;
}
#article-preview-component {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 310px;
    grid-template-rows: 200px auto;
    background-color: white;
    border-radius: 10px;
}
.article-picture {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.article-preview {
    background-color: white;
    border-radius: 0 0 10px 10px;
    display: grid;
    grid-template-columns: auto 60px;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    row-gap: 20px;
    padding: 40px 30px 10px;
}
.article-headline {
    grid-column: span 2;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 1.2em;
}
.article-lead {
    grid-column: span 2;
    color: hsl(214, 17%, 51%);
}
.article-footer {
    grid-column: 1 / 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: repeat(2, auto);
    align-items: center;
}
.author-avatar {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    grid-column: 1;
    grid-row: span 2;     
}
.author-name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
}
.post-date {
    color: hsl(212, 23%, 69%);
    grid-column: 2;
    grid-row: 2;
    align-self: flex-start;
}
.share {
    grid-column: 2;
    grid-row: 3;
    text-align: right;
}
.share.active {
    display: none;
}
.share-icon {
    background-color: hsl(210, 46%, 95%);
    border-radius: 100%;
    padding: 7px;
}
.share-icon.active {
    background-color: hsl(214, 17%, 51%);
}
.share-details {
    grid-column: 1 / 2;
    grid-row: 3;
    background-color: hsl(217, 19%, 35%);
    border-radius: 0 0 10px 10px;
    margin: 0 -90px 0 -30px;
    padding: 10px 120px 10px 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(212, 23%, 69%);
    text-transform: uppercase;
    display: none;
}
@media (min-width: 1200px) {
    #article-preview-component {
        grid-template-columns: 300px 500px;
        grid-template-rows: 300px;
    }
    .article-picture {
        width: auto;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }
    .article-preview {
        border-radius: 0 10px 10px 0;
        padding: 40px;
        position: relative;
    }
    .article-headline {
        font-size: 1.6em;
    }
    .share-details {
        grid-column: 3;
        grid-row: 3;
        position: absolute;
        top: -60px;
        right: -90px;
        margin: auto;
        height: auto;
        width: 180px;
        padding: 15px 40px;
        border-radius: 10px;
        letter-spacing: 0.5em;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
